.navbar-wrapper{
    background-color: #19c37d;
}

.dashboard-wrapper{
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 100px);
}

.dashboard-container{
    background-color: #444654;
    min-height: 100vh;
}